body
{
	background-color:white;
	margin:0;
	font-family: 'Nunito', sans-serif;
}
#map
{
	position:relative;
	width:100%;
	background-color:rgb(243,243,243);
	margin:auto;
	padding-top:25px;
	padding-bottom:25px;
	text-align: center;
	z-index:0;
}
#inner_map
{
	position:relative;
	width:250px;
	height:550px;
	background-color:rgb(25,25,25);
	margin:auto;
}
.piece
{
	position:absolute;
	width:25px;
	height:25px;
}
#fixed_block
{
	position:absolute;
	width:250px;
	height:550px;
	left:0;
	right:0;
	 margin-left: auto; 
  margin-right: auto; 
  margin-top:25px;
	top:0;
	z-index:2000;
}
#title_contner
{
	position:relative;
	width:100%;
	height: 125px;
}
.relative_piece
{
	position:relative;
	display:inline-block;
	background-image:radial-gradient(circle at top right,rgb(230, 126, 34),rgb(231, 76, 60));
	width:25px;
	height:25px;
	margin-bottom: -6px;
}
.low_opacity
{
	opacity: 0.7;
}
#score_contner
{
	position:absolute;
	background-color:white;
	width:250px;
	z-index:1000;
	margin-top:25px;
	text-align: center;
	padding-bottom:25px;
}
#restart_button
{
	position: relative;
	background-color:rgb(243,243,243);
	width:100px;
	height:25px;
	margin:auto;
	margin-top:25px;
	color:rgb(25,25,25);
	border-radius:5px;
}
#restart_button:hover
{
	cursor:pointer;
	opacity: 0.7;
	transition-duration: 0.3s;
}
.color1
{
	background-image:radial-gradient(circle at top right,rgb(230, 126, 34),rgb(231, 76, 60));
}
.color2
{
	background-image:radial-gradient(circle at top right,rgb(52, 73, 94),rgb(44, 62, 80));
}
.color3
{
	background-image:radial-gradient(circle at top right,rgb(155, 89, 182),rgb(142, 68, 173));
}
.color4
{
	background-image:radial-gradient(circle at top right,rgb(52, 152, 219),rgb(41, 128, 185));
}
.color5
{
	background-image:radial-gradient(circle at top right,rgb(46, 204, 113),rgb(39, 174, 96));
}
.color6
{
	background-image:radial-gradient(circle at top right,rgb(26, 188, 156),rgb(22, 160, 133));
}
.color7
{
	background-image:radial-gradient(circle at top right,rgb(241, 196, 15),rgb(243, 156, 18));
}
.color8
{
	background-image:radial-gradient(circle at top right,rgb(149, 165, 166),rgb(127, 140, 141));
}
.color10
{
	background-image:radial-gradient(circle at top right,red,red);
}
#game_over
{
	position: absolute;
	width:100%;
	height: 100%;
	color:white;
	background-color:rgba(25,25,25,0.5);
}
#game_over p
{
	margin-top:250px;
	font-size: 2em;
}