body
{
	background-color:rgb(243,243,243);
	font-family: 'Oswald', sans-serif;
	margin:0;
	-webkit-user-select: none; // For Webkit
	-khtml-user-select: none;
	-moz-user-select: none; // For Mozilla
}
#fond
{
	position:relative;
	width:475px;
	height:475px;
	margin:auto;
	background-color:rgb(187,173,160);
	padding:10px;
	margin-top:70px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-webkit-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-o-box-shadow: 1px 1px 10px 0px #c0c0c0;
	box-shadow: 1px 1px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
}

#lose_box
{
	position:absolute;
	width:100%;
	height:495px;
	margin-top:270px;
	border-radius: 4px;
	top:0;
	left:0;
	visibility: hidden;
}

#lose_screen
{
	position: relative;
	width:495px;
	height:495px;
	background-color: rgba(255,255,255,0.3);
	margin:auto;
	border-radius: 4px;
	text-align: center;
}
#lose_screen p
{
	color:rgb(118,110,101);
	margin:auto;
	font-size:5em;
	padding-top:150px;
}

#entete
{
	position: relative;
	height:200px;
	background-color: white;
	width:100%;
}

#btn_restart
{
	position:relative;
	width:120px;
	height:50px;
	background-color:white;
	margin:auto;
	top:100px;
	text-align: center;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-webkit-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-o-box-shadow: 1px 1px 10px 0px #c0c0c0;
	box-shadow: 1px 1px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
}

#btn_restart:hover
{
	cursor: pointer;
}

#btn_restart p
{
	color:rgb(187,173,160);
	font-size: 1.7em;
	padding-top:4px;
}

#btn_tryagain
{
	position:relative;
	width:120px;
	height:50px;
	background-color:white;
	margin:auto;
	top:50px;
	text-align: center;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-webkit-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-o-box-shadow: 1px 1px 10px 0px #c0c0c0;
	box-shadow: 1px 1px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
}

#btn_tryagain:hover
{
	cursor: pointer;
}

#btn_tryagain p
{
	color:rgb(187,173,160);
	font-size: 1.7em;
	padding-top:4px;
}

#score
{
	position:relative;
	width:200px;
	height:50px;
	margin:auto;
	top:55px;
	text-align: center;
	background-color:white;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-webkit-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-o-box-shadow: 1px 1px 10px 0px #c0c0c0;
	box-shadow: 1px 1px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
}

#score h1
{
	color:rgb(245,149,99);
	margin:0;
}

.carre
{
	position:absolute;
	width:115px;
	height:115px;
	opacity: 0%;
	background-color:rgb(238,228,218);
	border-radius: 4px;
	transition:left 0.3s ease-in-out,top 0.3s ease-in-out;
}

.carre_fond
{
	position:relative;
	display:inline-block;
	width:115px;
	height:115px;
	margin-right:1.5px;
	margin-left:1.5px;
	background-color:rgb(205,193,180);
	border-radius: 4px;
}

.carre h1
{
	position: absolute;
	right:0;
	left:0;
	text-align: center;
	color:white;
	font-size: 3em;
	margin:0;
	margin-top:17px;
}

.colored
{
	background-color:rgb(228, 76, 60);
}	